* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cardholder {
    text-align: center;
    padding-top: 30vh;
}

.card {
    position: relative;
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    width: 564px;
    border-radius: 10px;
    color: white;
    overflow: hidden;
    text-align: left;
    font-size: 25px;
}

.card_title {
    padding-top: 50px;
    padding-left: 50px;
    line-height: 1.2;
}

.card_price {
    padding-top: 30px;
    padding-left: 50px;
    font-size: 40px;
    font-weight: bold;
}

.card_prop {
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.card_red {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,203,140,1) 0%, rgba(227,165,45,1) 24%, rgba(254,126,188,1) 100%);
}

.card_blue {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(140,176,236,1) 0%, rgba(45,110,227,1) 75%, rgba(51,113,252,1) 100%);
}

.card_green {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,156,114,1) 0%, rgba(0,142,76,1) 26%, rgba(22,227,22,1) 94%);
}

.card_icon {
    position: absolute;
    width: 30px;
    top: 50px;
    right: 40px;
    fill: white;
}

.card::after,
.card::before {
    content: '';
    position: absolute;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.2;
}

.card::after {
    right: -50px;

}

.card::before {
    bottom: 90px;
    right: 50px; 
}